.container-404{
    background-color: rgb(230, 222, 222);
        color: rgb(6, 6, 6); /* Cambia el color del texto a rojo */
        font-weight: bold; /* Hace que el texto sea más grueso */
        text-decoration: unset; /* Subraya el texto */
        /* Puedes agregar más propiedades CSS según tus necesidades , "Arial", sans-serif */
        font-family: "Helvetica";
        
}
.error{
    padding: 7px;
    padding-top: 12px;
    padding-bottom: 2px;
}
